@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");

html {
  font-family: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  width: 700px;
  margin-left: -6rem;
  max-height: 900px;
  overflow: auto;
  position: relative;
  font-size: 14px;
  background: #e9eaec;
}
@media screen and (min-width: 600px) {
  body {
    width: auto;
    max-width: 100%;
    margin-left: auto;
  }
}
