@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");

html {
  font-family: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  width: 700px;
  margin-left: -6rem;
  max-height: 900px;
  overflow: auto;
  position: relative;
  font-size: 14px;
  background: #e9eaec;
  cursor: default;
}
img {
  width: 100%;
}

/* Header */

.header {
  position: relative;
  margin: 0;
  height: 200px;
  color: white;
  width: 100%;
  background: rgba(0, 0, 0, 0.73);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  position: absolute;
  right: 0;
  z-index: -1;
  object-fit: cover;
  object-position: 50% 21%;
  width: 100%;
  height: 100%;
}

.hero-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 3rem 0 8rem;
}
.hero__watchlist {
  margin-right: 5rem;
  cursor: pointer;
  transition: all 0.15s;
}
.hero__watchlist:hover {
  opacity: 0.8;
}
/* Main */

main {
  position: relative;
  height: 100vh;
  margin-top: 4rem;
}
#noData {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
#noData .fa-film {
  display: block;
}
#noData p {
  margin: 0;
}
#noData a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading {
  width: 200px;
}

/* Movie Card */

.movie-container {
  display: flex;
  justify-content: row;
  border-bottom: 1px solid #6b7280;
  margin: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.movie-header {
  display: flex;
  align-items: center;
}
.movie-header .fa-star {
  margin: 0 0.3rem 0 0.6rem;
  margin-top: 0.8rem;
  color: gold;
}
.movie-content {
  margin-left: 1rem;
}
.movie-tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-tag {
  margin-right: 0.2rem;
}
.movie-desc {
  color: #6b7280;
}

.movie-img {
  width: 100px;
  height: 170px;
}
.watchlist-add {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.watchlist-add .fa-plus {
  margin-top: 0.8rem;
}
.watchlist-add p {
  margin-left: 0.5rem;
}
.watchlist-add:hover {
  color: gold;
}
@media screen and (min-width: 800px) {
  .movie-tags {
    width: 463px;
  }
}
/* Input Group */
#searchBar {
  border: none;
}
.input-group {
  border: 1px solid #d1d5db;
  width: 300px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.input-group input {
  flex-grow: 1;
  height: 100%;
  padding: 0 0.5rem;
  outline: none;
  color: #6b7280;
  margin: 0 8px;
}
.input-group .fa-search {
  color: black;
  opacity: 0.6;
  margin-left: 1rem;
  cursor: pointer;
}
.input-group .btn {
  height: 100%;
  width: 128px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
@media screen and (min-width: 440px) {
  .input-group {
    width: 435px;
  }
}

/* Utility */

.container {
  max-width: 450px;
  margin: 0 auto;
}
@media screen and (min-width: 1040px) {
  .container {
    max-width: 1040px;
  }
}

@media screen and (min-width: 600px) {
  body {
    width: auto;
    max-width: 100%;
    margin-left: auto;
  }
  .hero-title {
    margin: 0 2rem;
  }
  .header {
    height: 250px;
  }
  .input-group {
    width: 435px;
    top: 230px;
  }
}
